body {
    text-align: center;
    background-color: #9071ff;
    color: rgb(0, 0, 0);
    font-size: larger;
}

h1 {
    color: #a3dbf1;
    font-size: 5.2rem;
}
#hotline_baslik {
    text-align: left;
    color: #ff0000;
    font-size: large;
}
#hotline_background {
    background-color: #000000;
    color: aliceblue;
}